//-- Variables ----------------------------------------------------------------
$white:     #FFF;
$black:     #000;
$purple:    #B9AAB9;
$grey-000:  #F5F5F5;
$grey-100:  #F4F4F0;
$blue-000:  #2D3E46;

$font-openSans: 'Open Sans', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-ralewayfont: 'Raleway', sans-serif;

$fontSize-xs: 0.875em;
$fontSize-sm: 1.062em;
$fontSize-md: 1.375em;
$fontSize-lg:     2em;
$fontSize-xl: 2.625em;
