@import '_variables';
@import '_navigation';
@import '_notification';
@import '_prompts';
@import '_footer';

body {
  background: $white;
}

// Container ------------------------------------------------------------------
.container {
  @media (max-width: 767.98px) {
    max-width: 100%;
  }
}

// Search ---------------------------------------------------------------------
.search {
  height: 800px;
  width: 100%;
}

// Contact --------------------------------------------------------------------
.form {
  margin: 0 auto;
  max-width: 400px;
}
